spring:
 application:
  name: puertaEntrada

 cloud:
  loadbalancer:
   enabled: true

  gateway:
   server:
    webflux:
     routes:
      - id: usuario
        uri: lb://usuario
        predicates:
         - Path=/api/usuarios/**
        filters:
         - StripPrefix=2

server:
 port: 8090

eureka:
 client:
  service-url:
   defaultZone: http://localhost:8761/eureka